# Fichiers auxiliaires LaTeX
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.thm
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf
*.bbl
*.blg

# PDF des tests uniquement
tests/*.pdf

# Éditeurs
.fresh/
.vscode/
.idea/