# LaTeX
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.bbl
*.bcf
*.blg
*.run.xml

# Build
_build/
build/

# Editors
.fresh/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db